body {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body, .flux input {
	font: normal 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
}

/* Basic Flux setup */
.flux {
	padding: 10px;
}

.flux > * {
	height: 20px;
	padding: 2px;
}

/* Editing */
.flux #edit {
	overflow: hidden;
	white-space: nowrap;
}

.flux #edit input {
	background: transparent;
	width: 100%;
	border: none !important;
	padding: 0;
	margin: 0;
	outline: none;
}

.flux .editing {
}

.flux .editing #edit {
	padding: 2px;
	margin-left: -4px;
	margin-top: -3px;
	border: 1px solid #989E9F;
	border-radius: 15px;
	background: #E4E8E7 !important;
}

/* Styles */
.flux span { /* Always hide spans since this is where we cram hidden data about the node */
	display: none;
}

.flux .style-heading {
	font-weight: bold;
	font-size: 15pt;
	margin: 8px 0 4px;
	display: block !important;
}

.flux .style-spacer {
	display: block !important;
}

/* Priorities */
.flux .priority-0, .flux .priority-1, .flux .priority-2, .flux .priority-3, .flux .priority-4, .flux .priority-5 {
	padding-left: 30px;
}

.flux .priority-0 {
}
.flux .priority-1 {
	background: url('images/priorities/1.png') no-repeat top left;
}
.flux .priority-2 {
	background: url('images/priorities/2.png') no-repeat top left;
}
.flux .priority-3 {
	background: url('images/priorities/3.png') no-repeat top left;
}
.flux .priority-4 {
	background: url('images/priorities/4.png') no-repeat top left;
}
.flux .priority-5 {
	background: url('images/priorities/5.png') no-repeat top left;
}

/* Nesting levels */
.flux .nest-0 {
	display: list-item;
	text-indent: 0px;
	list-style: disc inside none;
}

.flux .nest-1 {
	display: list-item;
	text-indent: 20px;
	list-style: circle inside none;
}

.flux .nest-2 {
	display: list-item;
	text-indent: 40px;
	list-style: circle inside none;
}

.flux .nest-3 {
	display: list-item;
	text-indent: 80px;
	list-style: circle inside none;
}

.flux .nest-4 {
	display: list-item;
	text-indent: 100px;
	list-style: circle outside none;
}


/* Context menu fixes */
.submenu-select img {
	border:1px solid transparent;
}

.submenu-select img:hover {
	background:#F9F5F2;
	border:1px solid #963;
}
