/* Basic Flux setup */
.flux {
	padding: 10px;
}

.flux > * {
	height: 20px;
	padding: 2px;
}

/* Editing */
.flux #edit {
	overflow: hidden;
	white-space: nowrap;
}

.flux #edit input {
	background: transparent;
	width: 100%;
	border: none !important;
	padding: 0;
	margin: 0;
	outline: none;
}

.flux .editing {
}

.flux .editing {
	border: 1px solid #989E9F;
	border-radius: 15px;
	background: #E4E8E7 !important;
}

.flux .editing #edit input {
	position: relative;
	left: -1px;
}

/* General flux table cells */
.flux {
}

.flux .flux-node {
	display: table-row;
	width: 100%;
}

.flux .flux-node > * {
	display: table-cell;
}

.flux .flux-node .flux-priority {
	width: 20px !important;
	vertical-align: middle;
}

.flux .flux-node .flux-main {
	padding-left: 5px;
	width: 100%;
}

.flux .flux-node .flux-date {
	width: 150px;
}

.flux .flux-branch {} /* This node is a parent */
}

.flux .flux-leaf {} /* This node is not a parent */

.flux .flux-leaf .flux-bullet {
	display: none;
}

.flux .flux-bullet {
	float: left;
	width: 20px;
	height: 20px;
	background: url('images/branch-open.png') no-repeat;
}

.flux .flux-bullet-nest-1, .flux .flux-bullet-nest-2, .flux .flux-bullet-nest-3, .flux .flux-bullet-nest-4, .flux .flux-bullet-nest-5  {
	float: left;
	width: 20px;
	height: 20px;
	background: url('images/branch-line.png') repeat-y;
}

/* Styles */
.flux span { /* Always hide spans since this is where we cram hidden data about the node */
	display: none;
}

.flux .style-heading {
	font-weight: bold;
	font-size: 15pt;
	margin: 8px 0 4px;
}

.flux .style-spacer {
}

/* Priorities */
.flux .priority-0, .flux .priority-1, .flux .priority-2, .flux .priority-3, .flux .priority-4, .flux .priority-5 {
	padding-left: 30px;
}

.flux .priority-0 {
}
.flux .priority-1 {
}
.flux .priority-2 {
}
.flux .priority-3 {
}
.flux .priority-4 {
}
.flux .priority-5 {
}

/* Nesting levels */
/*.flux .nest-0 .flux-title {
	padding-left: 0px;
}

.flux .nest-1 .flux-title {
	padding-left: 20px;
}

.flux .nest-2 .flux-title {
	padding-left: 40px;
}

.flux .nest-3 .flux-title {
	padding-left: 80px;
}

.flux .nest-4 .flux-title {
	padding-left: 100px;
}*/

/* Context menu fixes */
.submenu-select img {
	border:1px solid transparent;
}

.submenu-select img:hover {
	background:#F9F5F2;
	border:1px solid #963;
}
