/* Basic Flux setup */
.flux {
	padding: 10px;
}

.flux > * {
	height: 20px;
	padding: 2px;
}

/* Editing */
.flux #edit {
	overflow: hidden;
	white-space: nowrap;
}

.flux #edit input {
	background: transparent;
	width: 100%;
	border: none !important;
	padding: 0;
	margin: 0;
	outline: none;
}

.flux .editing {
}

.flux .editing #edit {
	padding: 2px;
	margin-left: -4px;
	margin-top: -3px;
	border: 1px solid #989E9F;
	border-radius: 15px;
	background: #E4E8E7 !important;
}

/* General flux table cells */
.flux {
}

.flux .flux-node {
	display: table-row;
	width: 100%;
}

.flux .flux-node > * {
	display: table-cell;
	height: 20px;
}

.flux .flux-node .flux-priority {
	width: 20px !important;
	float: left;
	vertical-align: middle;
}

.flux .flux-node .flux-title {
	padding-left: 5px;
	width: 100%;
}

.flux .flux-node .flux-date {
	width: 150px;
}

/* Styles */
.flux span { /* Always hide spans since this is where we cram hidden data about the node */
	display: none;
}

.flux .style-heading {
	font-weight: bold;
	font-size: 15pt;
	margin: 8px 0 4px;
}

.flux .style-spacer {
}

/* Priorities */
.flux .priority-0, .flux .priority-1, .flux .priority-2, .flux .priority-3, .flux .priority-4, .flux .priority-5 {
	padding-left: 30px;
}

.flux .priority-0 {
}
.flux .priority-1 {
}
.flux .priority-2 {
}
.flux .priority-3 {
}
.flux .priority-4 {
}
.flux .priority-5 {
}

/* Nesting levels */
.flux .flux-title {
}

.flux .nest-0 .flux-title {
	text-indent: 0px;
}

.flux .nest-1 .flux-title {
	text-indent: 20px;
}

.flux .nest-2 .flux-title {
	text-indent: 40px;
}

.flux .nest-3 .flux-title {
	text-indent: 80px;
}

.flux .nest-4 .flux-title {
	text-indent: 100px;
}


/* Context menu fixes */
.submenu-select img {
	border:1px solid transparent;
}

.submenu-select img:hover {
	background:#F9F5F2;
	border:1px solid #963;
}
